.userCardWrapper {
  background: #1b1b1f;
  padding: 2.4rem;
  width: 44rem;
  align-self: center;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  position: relative;

  
  @keyframes buttonMovement {
    from {
      top: 0;
    }
    25% {
      top: 1px;
    }
    50% {
      top: 2px;
    }
    75% {
      top: 1px;
    }
    to {
      top: 0;
    }
  }

  @keyframes movement {
    from {
      background: linear-gradient(80deg, #ff008e 0.48%, #ffcd1e 100%);
    }
    14% {
      background: linear-gradient(60deg, #ff008e 0.48%, #ffcd1e 100%);
    }
    28% {
      background: linear-gradient(40deg, #ff008e 0.48%, #ffcd1e 100%);
    }
    42% {
      background: linear-gradient(20deg, #ff008e 0.48%, #ffcd1e 100%);
    }
    56% {
      background: linear-gradient(40deg, #ff008e 0.48%, #ffcd1e 100%);
    }
    70% {
      background: linear-gradient(60deg, #ff008e 0.48%, #ffcd1e 100%);
    }
    84% {
      background: linear-gradient(80deg, #ff008e 0.48%, #ffcd1e 100%);
    }
    to {
      background: linear-gradient(100deg, #ff008e 0.48%, #ffcd1e 100%);
    }
  }
}

.signOutButton {
  background: transparent;
  border: 0;
  color: #c4c4cc;

  position: absolute;
  left: 2.4rem;
  top: 2.4rem;

  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }
}

.userInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .userImage {
    padding: 0.3rem;
    background: linear-gradient(100deg, #ff008e 0.48%, #ffcd1e 100%);
    border-radius: 50%;
    line-height: 0;

    img {
      width: 9.4rem;
      height: 9.4rem;
      border-radius: 50%;
      border: 0.6rem solid #121214;
    }

    &:hover {
      animation-name: movement;
      animation-duration: 800ms;
      animation-iteration-count: infinite;
    }
  }

  .userName {
    font-size: 2.4rem;
    line-height: 30px;
    margin-top: 16px;
  }

  .userGithub {
    display: flex;
    align-items: center;

    margin-top: 8px;
    color: #c4c4cc;

    svg {
      margin-right: 8px;
    }

    a {
      font-size: 1.6rem;
      text-decoration: none;
      color: #c4c4cc;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .userAreaDescription {
    font-size: 1.5rem;
    margin-top: 1.5rem;

    .userAreaDescriptionTitle {
      font-size: 1.8rem;
      padding-bottom: 0.5rem;
    }
  }
}

.userCard {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  margin-top: 28px;
  border-radius: 8px;

  background-color: #202024;

  label {
    border-radius: 8px 8px 0 0;
    padding: 18px 24px;
    font-size: 2rem;
    background-color: #29292e;
    font-weight: bold;
    text-align: left;
  }

  textarea {
    background-color: transparent;
    border: 0;
    padding: 24px;
    resize: none;
    height: 160px;
    color: #e1e1e6;
    font-size: 1.6rem;
    line-height: 24px;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      color: #8d8d99;
    }
  }

  button {
    align-self: flex-end;
    background: #ff008e;
    border: 0;
    margin: 24px;
    padding: 0 32px;
    cursor: pointer;
    height: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;

    position: relative;
    
    &:active {
      animation-name: buttonMovement;
      animation-duration: 250ms;
      animation-iteration-count: 1;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.userDescription {
  margin-top: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .userDescriptionTitle {
    border-radius: 8px 8px 0 0;
    padding: 18px 24px;
    font-size: 1.8rem;
    background-color: #29292e;
    font-weight: bold;
    text-align: left; 
  }

  .userDescriptionContent {
    background-color: #202024;
    text-align: justify;
    border: 0;
    padding: 24px;
    resize: none;
    max-height: 10rem;
    color: #e1e1e6;
    font-size: 1.4rem;
    line-height: 24px;
    border-radius: 0 0 8px 8px;
  }
}