.loginBoxWrapper {
  height: 100vh;
  width: 100%;
  background: #17171A url(../../assets/banner-girl.png) no-repeat center top;

  padding: 44rem 8.8rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @keyframes buttonMovement {
    from {
      top: 0;
    }
    25% {
      top: 1px;
    }
    50% {
      top: 2px;
    }
    75% {
      top: 1px;
    }
    to {
      top: 0;
    }
  }

  strong {
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  .signInWithGithub {
    background: #ffcd1e;
    margin-top: 32px;
    padding: 0 40px;
    height: 56px;
    color: #09090a;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;

    position: relative;

    svg {
      margin-right: 16px;
    }

    &:active {
      animation-name: buttonMovement;
      animation-duration: 250ms;
      animation-iteration-count: 1;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}